.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ff7e5f;
    color: white;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  